    $white: white;
    $giallo: rgb(252, 214, 108);
    $black: black;
    $rosso: #4683d7;
    $arancio: rgb(228, 134, 42);
    $marrone: rgb(107, 67, 40);
    $grigio: rgb(189, 189, 189);
    $petrolio: rgb(13, 79, 92);
    $azzurro: rgb(66, 163, 239);
    $grigiobeige: rgb(145, 121, 121);



/* modifica di gabriel */
    $modifica: #4683d7;
    $rosso: rgb(204, 26, 38);